@import url(https://fonts.googleapis.com/css?family=Lato);

body {
  font-size: 20px;
  font-family: 'Lato';
  background: #f2f2f2;
  color: #444;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.show {
  display: block !important;
}
.disabled {
  opacity: 0.5;
}
.fixSize {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.login, .register {
  display: none;
}
.genericForm {
  text-align: center;
  width: 300px;
}
.genericForm > input {
  position: relative;
  padding: 0;
  margin: 0 0 10px 0;
  border: none;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  font-family: 'Lato', sans-serif;
}
.genericForm > p {
  font-size: 14px;
}
.genericForm > p > span {
  color: #66b2ff;
}
.genericForm > p > span:hover {
  cursor: pointer;
}
.valInput {
  padding: 5px 10px !important;
  font-size: 15px;
}
.valInput:focus {
  outline: none;
  box-shadow: 0 0 4px #72e5d1;
}
.btn {
  background: #68DCB0;
  color: #f2f2f2;
  font-family: 'Lato';
  font-size: 15px;

  transition: all 0.1s;
}
.btn:hover {
  cursor: pointer;
  background: #72f5c4;
}
.btn:focus {
  outline: none !important;
}
.failure, .success {
  color: #f95757;
  font-size: 15px;
  display: none;
  margin-bottom: -4px;
}
.success {
  color: green !important;
}


.menu {
  padding-bottom: 8px;
}
.cat, .uname {
  margin: 0 10px;
  font-size: 18px;
  display: inline-block;
}
.cat:hover {
    color: #72e5d1;
  cursor: pointer;
}
.uname {
  position: absolute;
  right: 0;
}
.accountOptions {
  color: #68DCB0;
}
.accountOptions:hover {
  cursor: pointer;
  color: #72f5c4;
}
.accountOptionsDropdown {
  position: absolute;
  text-align: left;
  background: #f6f6f6;
  width: 100px;
  border-radius: 5px;
  right: 5px;
  display: none;
}
.accountOptionsDropdown > span {
  display: block;
  font-size: 16px;
  padding-left: 5px;
  line-height: 30px;
  border-bottom: solid 1px #eee;
}
.accountOptionsDropdown > span:hover {
  background: #68DCB0;
  color: #f2f2f2;
  cursor: pointer;
}


#joinRoom {
  display: none;
}
#accountSettings {
  display: none;
}





#playfield {
  position: relative;
  width: 30rem;
  height: 30rem;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 0;
  overflow: hidden;
}

.box {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0px;
  width: 10rem;
  height: 10rem;
  outline: solid 1px #ddd;
  background: #f7f7f7;
}

.box > p {
  top: -165px;
  left: 50%;
  position: absolute;
  font-size: 150px;
  color: #68DCB0;
  transform: translateX(-50%);
  text-shadow: 3px 3px 0 #ccc;
}


.roomContainer {
  text-align: center;
}
.roomInfo {
  position: absolute;
  text-align: left;
  left: 10%;
  top: 40%;
  transform: translate(-50%, -50%);
}
.roomInfo > h2 {
  padding: 10px 30px 10px 10px;
  border-bottom: solid 1px #68DCB0;
  margin-bottom: -10px;
}
.roomInfo > p {
  margin-left: 10px;
  line-height: 16px;
}




.text-top {
  position: relative;
  margin: 40px;
}








footer {
  position: fixed;
  bottom: 0;
  height: 30px;
  font-size: 13px;
  color: #aaa;
  padding: 4px 10px;
  width: 99%;
}
