@import url(https://fonts.googleapis.com/css?family=Lato);

body {
  font-size: 20px;
  font-family: 'Lato';
  background: #f2f2f2;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#playfield {
  position: absolute;
  width: 30rem;
  height: 30rem;
  left: 50%;
  top: 50%;
  outline: solid 3px;
  font-size: 0;
  transform: translate(-50%, -50%);
}

.box {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0px;
  width: 10rem;
  height: 10rem;
  outline: solid 1px;
}


.box > p {
  font-family: 'Lato';
  top: -165px;
  left: 50%;
  position: absolute;
  font-size: 150px;
  transform: translateX(-50%);
}





form {
  padding: 50px;
  /*background: #ffd93e;*/
}


input {
  top: 0;
  margin: 0;
  padding: 0;
  vertical-align: top;
  font-family: 'Lato';
}

.btn {
  font-family: 'Lato';
  font-size: 15px;
  text-transform: uppercase;

  border-radius: 0px;
  border-style: none;
  border: none;

  padding: 7px 10px;
  margin-left: -6px;

  background: #5bb3a4;
  color: #f2f2f2;

  transition: all 0.2s;
}
.btn:hover {
  cursor: pointer;
  background: #72e5d1;
}
.tin {
  height: 28px;
  font-size: 15px;
  padding: 0 5px;
}